{% extends "inicio.html" %}


{% load static %}
<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
{% block contenido %}
<h1>VER TABLA</h1> 

<table style="margin: 0 auto;" width="700" cellspacing="1" cellpadding="10" border="0" bgcolor="#F7EDF0" >
    <thead>
        <tr>
            <th>
                Comentario
            </th>
            <Th>
                Pais Campeón
            </Th>
            <Th>
                Bandera del Pais
            </Th>
            <Th>
                Usuario
            </Th>
            <Th>
                Fecha
            </Th>
            
        </tr>
    </thead>
    {% for instance in mostrarDB %}
        <tr>
            <td>
                {{ instance.fields.comentario }} <hr>
            </td>
            <td align="center" valign="top">
                {{ instance.fields.pais }}                
                {% if instance.fields.pais == 'Brasil' %}                   
                    <p>LLEGA</p>
                    <td valign="top">
                        <image src="https://www.worldometers.info/img/flags/small/tn_br-flag.gif" width="65" height="40" >
                    </td>
                {% elif instance.fields.pais == 'Alemania' %}                   
                    <td valign="top">
                        <image src="https://www.worldometers.info/img/flags/small/tn_gm-flag.gif" width="65" height="40" >
                    </td>
                    {% elif instance.fields.pais == 'Canada' %}                   
                    <td valign="top">
                        <image src="https://www.worldometers.info/img/flags/small/tn_ca-flag.gif" width="65" height="40" >
                    </td>
                    {% elif instance.fields.pais == 'Peru' %}                   
                    <td valign="top">
                        <image src="https://www.worldometers.info/img/flags/small/tn_pe-flag.gif" width="65" height="40" >
                    </td>
                    {% elif instance.fields.pais == 'España' %}                   
                    <td valign="top">
                        <image src="https://www.worldometers.info/img/flags/sp-flag.gif" width="65" height="40" >
                    </td>
                    {% elif instance.fields.pais == 'Francia' %}                   
                    <td valign="top">
                        <image src="https://www.worldometers.info/img/flags/fr-flag.gif" width="65" height="40" >
                    </td>
                    {% elif instance.fields.pais == 'Argentina' %}                   
                    <td valign="top">
                        <image src="https://www.worldometers.info/img/flags/ar-flag.gif" width="65" height="40" >
                    </td>
                {% endif %}
            </td>
            <td>
                
                {{ instance.fields.user }}
            </td>
            <td>
                {{ instance.fields.fecha }} <hr>
            </td>
        </tr>  
    {% endfor %}
</table>

<section>
    
</section>

    
{% endblock %}