{% extends "inicio.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupos</title>
</head>
<body>
    
    {% block contenido %}
        <div style="background-color: #0c5692d8">
            <center><image class="redimension" src="https://image-service.onefootball.com/transform?w=840&h=970&dpr=2&image=https%3A%2F%2Fi.ibb.co%2F92hhYJy%2FWhats-App-Image-2022-04-01-at-12-44-10-PM.jpg"
            width="1200" height="990" vspace="60" text>> 
            </image></center>
        </div>
    {% endblock %}
</body>
</html>